/* =========================
   BASE = MOBILE FIRST
========================= */

.bottomPlayer {
    position: fixed;
    inset: auto 0 0 0;
    background: #0f0f0f;
    border-top: 1px solid #222;
    color: #fff;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 1000;

    .iconBtn {
        background: transparent;
        border: none;
        color: #fff;
        width: 24px;
        height: 20px;
        cursor: pointer;

        &.play {
            font-size: 20px;
            background: linear-gradient(to right, var(--accent1),var(--accent2));
            border-radius: 50%;
            padding: 8px;
            box-sizing: content-box;
        }
        &.small{
            svg{
                path{
                    fill: transparent;
                }
            }
        }

        &:hover {
            transform: scale(1.2);
        }

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: var(--icn-clr);
            }
        }
    }

    /* RANGE */

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 3px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
            background: #ff4b2b;
            border-radius: 50%;
            margin-top: -3px;
            cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
            height: 3px;
        }
        &:focus{
            outline: 1px solid green;
        }
    }
}

/* ===== TOP ROW (thumb + controls) ===== */

.playerLeft {
    display: flex;
    align-items: center;
    gap: 10px;

    .trackThumb {
        width: 42px;
        height: 42px;
        border-radius: 6px;
    }

    .trackMeta {
        flex: 1;
        overflow: hidden;

        .trackTitle {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .trackArtist {
            font-size: 11px;
            line-height: 1.5;
            color: #aaa;
        }
    }
}

/* CENTER */

.playerCenter {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .seekWrapper {
        display: flex;
        align-items: center;

        .time {
            display: none;
        }

        .seekBar {
            width: 100%;
            background: linear-gradient(to right,
                    #ff416c var(--progress),
                    #444 var(--progress));
        }
    }
}

// /* RIGHT (Absolute Position on mobile) */
.playerRight {
    position: absolute;
    top: 20px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 5px;

    .volumeBar {
        -webkit-appearance: none;
        appearance: none;
        height: 3px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        background: linear-gradient(to right,
                #ff416c var(--volume),
                #444 var(--volume));
    }
}

/* =========================
   TABLET +
========================= */

@media (min-width: 768px) {
    .bottomPlayer {
        flex-direction: row;
        align-items: center;
        height: 72px;
        padding: 0 16px;
    }

    .playerLeft {
        flex: 1;
        max-width: 370px;

        .trackThumb {
            width: 52px;
            height: 52px;
        }
    }

    .playerCenter {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        .seekWrapper {
            gap: 8px;

            .time {
                display: block;
                font-size: 11px;
                color: #aaa;
                min-width: 16px;
            }
        }
    }

    .playerRight {
        position: static;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;

        .volumeBar {
            width: 90px;
        }
    }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 1024px) {
    .bottomPlayer {
        height: 80px;
    }

    .playerCenter {
        .seekWrapper {
            width: 100%;
            max-width: 500px;
        }
    }

    .playerRight .volumeBar {
        width: 110px;
    }
}